
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Chương trình đào tạo</h1>
        <div class="card mb-4">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID Học phần</th>
                            <th>Mã học phần</th>
                            <th>Tên học phần</th>
                            <th>Số tín chỉ </th>
                            <th>Học kỳ</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Hình thức</th>
                            <th>Loại học phần</th>
                            <th>Chuyên ngành</th>
                            <th>Chương trình đào tạo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in ViewBag.List)
                        {
                        <tr>
                            <td>@item.IDHP</td>
                            <td>@item.MAHP</td>
                            <td>@item.TENHP</td>
                            <td>@item.SOTC</td>
                            <td>@item.HOCKY</td>
                            <td>@String.Format("{0:yyyy-MM-dd}", item.TGBATDAU)</td>
                            <td>@String.Format("{0:yyyy-MM-dd}", item.TGBATDAU)</td>
                            <td>@item.HINHTHUC</td>
                            <td>@item.LOAIHP</td>
                            <td>@item.CHUYENNGANH.TENCN</td>
                            <td>@item.CTDAOTAO.TENCT</td>
                        </tr>


                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>

